/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #7c8b9d;
  color: #ffffff;
}

/* Contenu principal */
main {
  padding: 0px;
  max-width: 100%;
  margin: 0px;
  background-color: #7c8b9d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* En-tête */
header {
  background-color: #ffffff47;
  color: #fff;
  padding: 20px;
  text-align: right;
}

header h1 {
  margin-bottom: 10px;
}

header:hover {
  background-color: #ffffff84;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.projet h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.scroll-section {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  width: 100%;
  /* largeur visible pour 3 boutons */
  height: 400px;
  position: relative;
  scroll-behavior: smooth;
  cursor: pointer;
}

.scroll-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  text-align: left;
  color: #ffffff00;
  border-radius: 10px;
}

.scroll-button:hover {
  transform: scale(1.02);
  border-radius: 30px;
  color: #fff;
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(111, 115, 120, 0.326);
  /* assombrit la vidéo pour que le texte soit lisible */
  z-index: 2;
}

.text-content {
  position: absolute;
  top: 50%;
  padding-left: 50px;
  transform: translateY(-50%);
  z-index: 3;
  color: #fff;
  max-width: 500px;
}

.text-content h1 {
  margin-bottom: 0.5em;
}


/* Pied de page */
footer {
  background-color: #7c8b9d;
  color: white;
  text-align: center;
}