@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {
  body {
    font-size: 11px;
  }
}

/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de page */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #4738e5;
}

/* En-tête */
header {
  background-color: #4738e5;
  color: #fff;
  padding: 20px;
  text-align: right;
}

header h1 {
  padding: 0px;
  margin-bottom: 10px;
  font-size: 45px;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.grille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 colonnes */
  grid-template-rows: repeat(3, 400px);
  /* 3 lignes de 100px */
  gap: 0px;
  /* espace entre les cellules */
  width: 100%;
}

@media (max-width: 1000px) {
  .grille {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .grille {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .grille {
    grid-template-columns: 1fr;
  }
}

.cellule {
  border: 1px solid #4738e5;
  color: #4738e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #fff;
  background-size: 0%;
}

.cellule:hover {
  border: 0px;
  color: rgba(71, 56, 229, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}


h1 {
  padding-top: 20px;
  padding-left: 50px;
}

/* Pied de page */
footer {
  height: 40px;
  background-color: #4738e5;
  color: white;
  text-align: center;
}
